{{ define "head" }}
	{{ partial "sass.html" (dict "context" . "src" "index.scss") }}
	<title>{{ printf "%s %s" "Skye Im | " .Data.Plural }} </title>
	<meta name="viewport" content="width=device-width,initial-scale=1">
{{ end }}

{{ define "main" }}

<div class="term">
  <h2 class="terms-header">By category</h2>
  {{ range .Data.Terms.Alphabetical }}
    <div class="filtered">
      <h3 id="{{ .Term }}">{{ index $.Site.Data.taxonomies.prettynames (urlize .Term ) }}</h3>
      {{ partial "page_gallery.html" (dict "context" $ "pages" .Pages "hiddenTaxonomies" slice) }}
    </div>
  {{ end }}
</div>

{{ end }}