{{/* Invoke with the following parameters:

  pages: the list of Page to display
  hiddenTaxonomies: the taxonomy(s) to omit
*/}}


<div class="projects">
  {{ range .pages }}
    <article class="tile">
      <div class="project">
        <div class="project-tile-body">
          <div class="project_thumb borderedimage">
            <a href="{{ .RelPermalink }}"><img src="/{{ .Params.thumb }}" /></a>
          </div>
          <h2 class="project_name">
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
          </h2>
          <section class="project_summary">{{ .Params.summary }}</section>
        </div>
        <section class="tags">
          {{ if not (in $.hiddenTaxonomies "technologies") }}
            {{ range .Params.technologies }}
              {{ partial "pill.html" (dict "taxonomy" "technologies" "tag" . "prettynames" $.context.Site.Data.taxonomies.prettynames ) }}
            {{ end }}
          {{ end }}
          {{ if not (in $.hiddenTaxonomies "categories") }}
            {{ range .Params.categories }}
              {{ partial "pill.html" (dict "taxonomy" "categories" "tag" . "prettynames" $.context.Site.Data.taxonomies.prettynames ) }}
            {{ end }}
          {{ end }}
        </section>
      </div>
    </article>
  {{ end }}
</div>
