{{ define "head" }}
	{{ partial "sass.html" (dict "context" . "src" "index.scss") }}
	<title>Skye Im | Portfolio</title>
	<meta name="viewport" content="width=device-width,initial-scale=1">
{{ end }}

{{ define "main" }}
	<div id="content">{{ .Content }}</div>
	<div id="projects">
	{{ range (.GetPage "/projects").Pages}}
		<div class="tile">
			<div class="project">
				<div class="project_thumb borderedimage"><a href="{{ .RelPermalink }}"><img src="/{{ .Params.thumb }}" /></a></div>
				<div class="project_name"><a href="{{ .RelPermalink }}">{{ .Title }}</a></div>
				<div class="project_summary">{{ .Params.summary }}</div>
				<div class="tags">
					{{ range .Params.technologies }}
						{{ partial "pill.html" (dict "taxonomy" "technologies" "tag" . "prettynames" $.Site.Data.taxonomies.prettynames ) }}
					{{ end }}
					{{ range .Params.categories }}
						{{ partial "pill.html" (dict "taxonomy" "categories" "tag" . "prettynames" $.Site.Data.taxonomies.prettynames ) }}
					{{ end }}
				</div>
			</div>
		</div>
	{{ end }}
	</div>
{{ end }}