{{ define "head" }}
  {{ partial "sass.html" (dict "context" . "src" "index.scss") }}
  <title>Skye Im | Portfolio</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta property="og:title" content="Skye's Portfolio" />
  <meta property="og:description" content="Skye's portfolio website" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://portfolio.skye.im" />
{{ end }}

{{ define "main" }}
  <div id="content">{{ .Content }}</div>
  {{ partial "page_gallery.html" (dict "context" . "pages" (.GetPage "/projects").Pages "hiddenTaxonomies" slice) }}
{{ end }}
