$headingfont: "Raleway", "Open Sans", sans-serif;
$bodyfont: "Open Sans";
$linkcolor: #555;
$linkcolor_visited: #111;
$tile_border: 1px solid rgba(0, 0, 0, .4);
$accentcolor: #ff641e;
$accenthover: #FF4F00;

h1 {
    font-family: $headingfont;
}

h2 {
    font-family: $headingfont;
}

body {
    font-family: $bodyfont;
    font-size: 14pt;
    color: #222;
    line-height: 1.5;
}

a {
    color: $linkcolor;
}

a:visited {
    color: $linkcolor_visited;
}

a:hover {
    color: black;
}

.borderedimage {
	border: 1px solid rgba(0, 0, 0, 0.3);
}

#mainwrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header {
    margin: 0 1vw;
    cursor: pointer;
}

#footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1.5vw;
    border-top: $tile_border;
}

#footer {
    font-size: 16px;
    font-family: $headingfont;
    color: #666;
    margin: 2vh 0;
}