@import "common";

#mainwrapper {
    border-top: $tile_border;
    margin: 0 $border_width_margin;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2vh 2vw;
}

#main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.title {
    font-size: 1.5em;
    font-weight: bold;
    font-family: $headingfont;
    margin-bottom: 2vh;
}

.imageholder {
    width: 100%;
    max-width: 700px; 
}

.imageholder img {
    width: 100%;
}

.caption {
    font-style: italic;
    font-size: .8em;
    margin-bottom: 2vh;
    color: #555;
}

.explanation {
    max-width: 800px;
}

.linkbutton {
    display: inline-block;
    cursor: pointer;
    width: 5em;
    background-color: $accentcolor;
    color: white;
    border-radius: 3px;
    text-align: center;
    line-height: 1.7;
}

.linkbutton:hover {
    background-color: $accenthover;
}

.sidebar {
    padding-right: 1em;
}

.sidebarwrapper {
    padding: 1em;
}

@media (max-width: 850px) {
    .sidebarwrapper {
        border-bottom: 1px solid $accentcolor;
        border-top: 1px solid $accentcolor;
        width: 80%;
        max-width: 800px;
        margin-top: 3vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #main {
        flex-direction: column;
    }
}

@media (min-width: 851px) {
    .sidebar {
        border-right: 1px solid $accentcolor;
        margin-top: 1.2em;
        padding-top: 4vh;
        padding-bottom: 4vh;
    }
    #main {
        flex-direction: row;
    }
}

@media (min-width: 2001px) {
    body {
        font-size: 24px;
    }

    .imageholder img {
        max-width: initial;
    }
}

#redirect {
    height: 70vh;
}